.container
{
    margin: 35px 0;
    padding: 20px 20px;
    background-color: var(--navbar-color);
    border: 2px solid var(--navbar-border);
}

h2 
{
    text-align: center;

    color: var(--font-color);

    font-size: 1.7vw;

    font-family: "Poetsen One", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h3 
{
    color: #222222;

    font-size: 1.6vw;

    font-family: "Poetsen One", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h4 
{
    color: #222222;

    font-size: 1.6vw;

    font-family: "Poetsen One", sans-serif;
    font-weight: 500;
    font-style: normal;
    
    margin-left: 25px;
    min-width: 350px;
}

h5 
{
    color: var(--font-color);

    font-size: 1.6vw;

    font-family: "Poetsen One", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p
{
    font-size: 1vw;
    color: var(--font-color);
    font-family: "Poetsen One", sans-serif;
    font-weight: 500;
    font-style: normal;
}

table 
{
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
    overflow: hidden;
}

th 
{
    border: 2px solid #222222;

    background-color: #C99A2E;
    padding: 20px 15px;

    color: #222222;

    font-size: 1vw;
    font-family: "Poetsen One", sans-serif;
    font-weight: 500;
    font-style: normal;

    text-align: center;
}

tbody td 
{
    padding: 20px 15px;

    border-bottom: 2px solid #222222;
    border-left: 2px solid #222222;
    border-right: 2px solid #222222;

    background-color: #E9B949;
    color: #222222;

    font-size: 0.9vw;
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
}

tbody td:first-child 
{
    text-align: center;
}





form 
{
    padding: 25px 25px;

    border: 2px solid #222222;
    background-color: #E9B949;

    border-radius: 6px; 
    margin-bottom: 25px;
}

label 
{
    color: #222222;

    font-size: 0.9vw;
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;

    margin: 2px 0 4px 0;
    width: auto;
}

input[type="text"]
{
    height: 32px;
    width: 35%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 10px; 
}

select 
{
    height: 32px;
    width: 35%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 10px; 
}

.button-find {
    height: 32px;
    width: 100px;
    margin-left: 50px; 
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #45a049;
}

.div-rate-placeholder 
{
    margin: 25px 0 50px 0;

    border: 2px solid #222222;
    background-color: #E9B949;

    border-radius: 6px;

    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-rate 
{
    margin: 25px 0 50px 0;

    border: 2px solid #222222;
    background-color: #E9B949;

    border-radius: 6px;
    min-height: 200px;  

    width: 100%;

    display: none;
    align-items: center;
}

.card 
{
    width: 100%;
    display: flex;
    align-items: center;
}

.star 
{
    font-size: 10vh;
    cursor: pointer;
    padding-bottom: 20px;
}

.checked 
{
    color: rgb(255, 255, 0);
}

.button-rate {
    height: 64px;
    width: 256px;
    margin-right: 50px; 
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

form#ratingForm
{
    margin: 0 25px 0 0;
    padding: 0 0 0 0;
    width: 256px;
    background-color: rgba(255, 255, 255, 0);
    border: rgba(255, 255, 255, 0);
}

#selectedMovieRatingText
{
    font-size: 28px;
    margin-right: 20px;
}