<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/layout.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <title>Movie Recommendations</title>
</head>
<body>
    <div class="header">Movie Recommendations</div>
    <div class="navbar">
        <a href="/">About</a>
        <a href="/genre">Genre Recommendations</a>
        <a href="/login">User Recommendations</a>
    </div>

    <div class="div-main">
        <div class="container">
            <h2>About</h2>
            <p>Text</p>
        </div>
    </div>



    <footer>
        <div>
            Made By Talha Ahmed, Samuel Ip and Jackie Lin
        </div>
    </footer>
</body>
</html>
