<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/layout.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <title>Movie Recommendations</title>
</head>
<body>
    <div class="header">Movie Recommendations</div>
    <div class="navbar">
        <a href="/">About</a>
        <a href="/genre">Genre Recommendations</a>
        <a href="/login">User Recommendations</a>
    </div>

    <div class="div-main">
        <div class="container">
            <h2>About</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dui enim, placerat et augue vel, faucibus auctor velit. Integer non egestas ex. Nulla venenatis turpis nec placerat viverra. Duis ac dolor tellus. Nunc et enim id nisi molestie pulvinar non vitae leo. Fusce lobortis sapien velit, accumsan finibus sem iaculis ac. In quis cursus ipsum. Pellentesque rhoncus vel leo efficitur mollis. Ut ligula augue, pulvinar sit amet augue non, volutpat cursus diam. Maecenas facilisis tortor vitae mauris luctus, a dapibus velit vehicula. In vitae vestibulum enim. Integer laoreet viverra quam, ac sollicitudin lorem suscipit in. Suspendisse malesuada auctor sem in aliquet. Integer consequat mollis cursus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla eu nibh ex.
            </p>
            <p>
                Proin quis malesuada ex, posuere molestie urna. Praesent odio magna, vestibulum semper facilisis sed, faucibus sit amet mauris. Maecenas ullamcorper enim quis urna gravida, vitae commodo quam elementum. Sed dapibus dolor eget ante dapibus, eu fermentum tortor consequat. Suspendisse aliquam viverra massa in viverra. Sed in nisl consectetur, hendrerit nunc a, dapibus metus. Sed vel leo vitae libero dapibus egestas eget sed magna. Etiam non nisi sed augue condimentum euismod ac auctor est. In id pretium diam. Morbi non lectus vestibulum tellus laoreet feugiat. Maecenas dignissim rutrum ex pulvinar tempor. Curabitur ac purus in neque dictum vehicula. Curabitur vel ultrices massa. Maecenas nisi diam, pretium ac velit vitae, egestas hendrerit erat. Donec ultricies, ipsum ut mattis tincidunt, enim mauris ullamcorper quam, quis interdum lacus justo sed ligula.
            </p>
        </div>
    </div>



    <footer>
        <div>
            Made By Talha Ahmed, Samuel Ip and Jackie Lin
        </div>
    </footer>
</body>
</html>
