<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/layout.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <title>Movie Recommendations</title>
</head>
<body>
    <div class="header">Movie Recommendations</div>
    <div class="navbar">
        <a href="/">About</a>
        <a href="/genre">Genre Recommendations</a>
        <a href="/login">User Recommendations</a>
    </div>

    <div class="div-main">
        <div class="container">
            <h1>About Us</h1>
            <p>Welcome to our movie recommendation website! We're dedicated to helping you discover your next favorite film through personalized recommendations tailored just for you. Whether you're seeking user-generated suggestions or genre-specific picks, we've got you covered.</p>
            
            <h2>User Recommendations</h2>
            <p>Our user recommendation system utilizes collaborative filtering to suggest movies based on your preferences and the behavior of users similar to you. By analyzing your ratings and comparing them with other users, we can predict which movies you'll enjoy the most, even if you haven't rated them yet.</p>
            
            <h2>Genre Recommendations</h2>
            <p>If you're in the mood for something specific, our genre recommendation feature has you covered. Whether you're into action-packed thrillers or heartwarming romances, we'll find the perfect movie for you. Simply select your preferred genres, and we'll provide you with a list of movies that match your tastes perfectly.</p>
            
            <p>At our website, we're passionate about connecting movie enthusiasts with films they'll love. With our advanced recommendation algorithms, extensive movie database, and user-friendly interface, discovering your next cinematic gem has never been easier. Happy watching!</p>
        </div>
    </div>



    <footer>
        <div>
            Made By Talha Ahmed, Samuel Ip and Jackie Lin
        </div>
    </footer>
</body>
</html>
