<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/layout.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/user.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <title>Movie Recommendations</title>
</head>
<body>
    <div class="header">Movie Recommendations</div>
    <div class="navbar">
        <a href="/">About</a>
        <a href="/genre">Genre Recommendations</a>
        <a href="/login">User Recommendations</a>
    </div>

    <div class="div-main">
        <h2>Welcome User: {{ user_id }}</h2>

        {% if recommendations is defined %}
            <h3>We recommend these Movies for you to watch:</h3>

            <table>
                <thead>
                    <tr>
                        <th>Movie Title</th>
                        <th>Aggregated Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in recommendations.iterrows() %}
                        <tr>
                            <td>{{ row['title'] }}</td>
                            <td>{{ "%.2f" % (row['aggregated_score']) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}


        {% if movies is defined %}
        <h3>Rate Movies: </h3>

        <form id="movieForm">
            <label for="items">Select a Movie:</label>
            <input type="text" id="searchInput" onkeyup="filterItems()" placeholder="Search for Movies...">
            <select id="items" name="items">
                <option value="" disabled selected>Select a movie</option>
                {% for index, row in movies.iterrows() %}
                    <option value="{{row['item id']}}" data-rating="{{row['rating']}}">{{row['title']}}</option>
                {% endfor %}
            </select>
            <button class="button-find" type="submit">Find</button>
        </form>
        {% endif %}

        <div class="div-rate-placeholder">
            <h1>Pick a Movie to see Rating</h1>
        </div>

        <div class="div-rate">
                <h1 id="selectedMovieTitle">Movie Title</h1>

                <div class="card">
                    <span onclick="rating(1)"class="star">★</span>
                    <span onclick="rating(2)"class="star">★</span>
                    <span onclick="rating(3)"class="star">★</span>
                    <span onclick="rating(4)"class="star">★</span>
                    <span onclick="rating(5)"class="star">★</span>
                </div>
                
                <h2 id="selectedMovieRatingText"></h2>

                <form id="ratingForm" method="post" action="/update">
                    <input type="hidden" name="user_id" value="{{ user_id }}">
                    <input type="hidden" id="selectedMovieId" name="item_id" value="">
                    <input type="hidden" id="selectedRating" name="rating" value="">
                    <button type="submit" class="button-rate">Submit Rating</button>
                </form>
        </div>
    </div>

    <footer>
        <div>
            Made By Talha Ahmed, Samuel Ip and Jackie Lin
        </div>
    </footer>

    <script>
        document.getElementById('movieForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the default form submission

            var selectedMovie = document.getElementById('items');

            // Check if the selected option is the placeholder
            if (selectedMovie.value === "") {
                return;
            }

            document.getElementById('selectedMovieTitle').textContent = selectedMovie.options[selectedMovie.selectedIndex].text;

            var selectedRating = selectedMovie.options[selectedMovie.selectedIndex].dataset.rating;
            let stars = document.getElementsByClassName("star")
            
            if (!isNaN(Number(selectedRating)))
            {
                rating(selectedRating);
            }
            else
            {
                rating(0);
                document.getElementById('selectedMovieRatingText').textContent = "Not Rated";
            }

            // Unhide div
            document.querySelector('.div-rate').style.display = 'flex';
            document.querySelector('.div-rate-placeholder').style.display = 'none';
        });

        function filterItems() {
            var input, filter, select, options, option, i;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            select = document.getElementById("items");
            options = select.getElementsByTagName("option");
            var firstVisibleOption = null;  

            for (i = 0; i < options.length; i++) 
            {
                option = options[i];
                if (option.innerHTML.toUpperCase().indexOf(filter) > -1) 
                {
                    option.style.display = "";
                    if (!firstVisibleOption) {
                        firstVisibleOption = option;
                    }
                } 
                else 
                {
                    option.style.display = "none";
                }
            }

                // Select the first visible option after filtering
            if (firstVisibleOption) {
                firstVisibleOption.selected = true;
            }
        }

        // To access the stars
        let stars = document.getElementsByClassName("star");
        let output = document.getElementById("output");

        // Funtion to update rating
        function rating(n) {
            remove();
            document.getElementById('selectedMovieRatingText').textContent = Math.round(n);
            for (let i = 0; i < n; i++) {
                stars[i].className = "star checked";
            }
        }
        
        // To remove the pre-applied styling
        function remove() {
            let i = 0;
            while (i < 5) 
            {
                stars[i].className = "star";
                i++;
            }
        }

        document.getElementById('ratingForm').addEventListener('submit', function(event) {
            var selectedMovie = document.getElementById('items');

            document.getElementById('selectedMovieId').value = selectedMovie.value;
            document.getElementById('selectedRating').value = Math.round(selectedMovie.options[selectedMovie.selectedIndex].dataset.rating);
        });
      </script>
</body>
</html>
